// 公用样式
.fn10
  font-size:10px
.fn12
  font-size:12px
.fn14
  font-size:14px
.fn16
  font-size:16px
.fn18
  font-size:18px
.fn20
  font-size:20px
.fn22
  font-size:22px
.fn24
  font-size:24px
.fn26
  font-size:26px
.fn28
  font-size:28px
.fn30
  font-size:30px
.fn32
  font-size:32px
