text_color = #ff6a76
bg_color = #ff677e
border_top = 2px solid #a3a9aa
borderFull = 1px solid #d7d7d7
indicate_color = #ffd352
common_border = 1px solid #dcdddd
// PC 页面内容部分宽度
main_width = 1200px
content_width = 1132px
// 常用color
main_color = #575374
tip_bg = #666
common_text = #5489d7
unimportant_color = #dcdddd
// 图片引用路径
imgPath = '../img/bet/'
imgPathPage = '../img/pageHeader/'
imgPathCommit = '../img/commit/'
imgPathIndex = '../img/index/'
imgPathFoot = '../img/footer/'
imgPathLogin = '../img/login/'
imgPathThird = '../img/thirdParty/'
imgPathNew = '../img/newAdd/'
imgPathIntegralMall = '../img/integralMall/'
imgPathCartList = '../img/cartList/'
imgPathAddress = '../img/address/'
goodsDetail = '../img/goodsDetail/'
