// color
ykt_color1 = #1c1c1d
ykt_color2 = #BBBBBB
ykt_color3 = #ffffff
ykt_color4 = #333333
ykt_color5 = #f4f4f4

ykt-border-color1 = #dddee1

ykt_header_height = 64px
ykt_table_content_padding = 20px
ykt_new_content_padding = 15px