// 引用图片简写
bgNormal(n)
  background:url(n) center center no-repeat
bgFull(n)
  background:url(n) center center no-repeat
  background-size:cover
bgAll(n)
  background:url(n) center center no-repeat
  background-size:100% 100%
backgroundImg()
  background-repeat:no-repeat
  background-position :center center
bgCover()
  background-size:cover
bgColor(n=#fff)
	background-color:n
boxSizing()
  box-sizing:border-box
color(color=#fff)
  color:color
opacity(n)
  opacity:n
bgRed()
  background-color:#ff6681
bgGrey()
  background-color:#dcdddd
radius(n)
  -webkit-border-radius: n
  -moz-border-radius: n
  border-radius: n
radiusTop(n)
  border-top-left-radius: n
  border-top-right-radius: n
radiusLeft(n)
  border-top-left-radius: n
  border-bottom-left-radius: n
radiusRight(n)
  border-top-right-radius: n
  border-bottom-right-radius: n
radiusBottom(n)
  border-bottom-left-radius: n
  border-bottom-right-radius: n
cursor()
  cursor:pointer
border(n)
  border-1px solid n
boxShadow(n)
  box-shadow: n
setMiddle()
  display:flex
  justify-content: center
  align-items: center
setStart()
  display:flex
  justify-content: flex-start
  align-items: center
setEnd()
  display:flex
  justify-content: flex-end
  align-items: center
setBetween()
  display:flex
  justify-content: space-between
  align-items:center
setColumn
  display:flex
  flex-direction:column
bgColor(color=#fff)
  background-color:color
gradientRed()
  background-image: -webkit-linear-gradient(to bottom, #e7556e 0, #f95867 100%)
  background-image:linear-gradient(to bottom, #e7556e 0, #f95867 100%)
gradientBlue()
  background-image:-webkit-linear-gradient(to bottom, #25d1ff 0, #5397fa 100%)
  background-image:linear-gradient(to bottom, #25d1ff 0, #5397fa 100%)
gradient(n)
  background-image:-webkit-linear-gradient(n)
  background-image:linear-gradient(n)
gradientIE(type, startColor, endColor)
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.gradient(startcolorstr=' + startColor + ',endcolorstr=' + endColor + ',gradientType = ' + type +')')
ellipsis()
  overflow:hidden
  text-overflow:ellipsis
  white-space:nowrap
ellipsis()
  overflow:hidden
  white-space:nowrap
  text-overflow:ellipsis
commonBtn()
  background-color:#ff6681
  color:#fff
colorRed()
	color:#ff6a76
fn(n=14px)
  font-size:n
vertical(n)
  height:n
  line-height:n
column()
  display:flex
  flex-direction:column
relative()
  position:relative
absolute()
  position:absolute
fixed()
  position:fixed
center()
  text-align:center
square(n)
  width:n
  height:n
  line-height:n
  text-align:center
mr(n)
  margin-right:n
ml(n)
  margin-left:n
mt(n)
  margin-top:n
mb(n)
  margin-bottom:n
padr(n)
  padding-right:n
padl(n)
  padding-left:n
padt(n)
  padding-top:n
padb(n)
  padding-bottom:n
inline()
  display:inline-block
fl()
  float:left
fr()
  float:right
clear()
  content: " "
  display: table
  clear: both
